/* Mengatur semua cell di TableView agar bisa melakukan text wrapping */
.table-view .table-cell {
    -fx-wrap-text: true; /* Ini adalah properti kuncinya */
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 5px; /* Beri sedikit padding agar tidak terlalu mepet */
}

/* Mengatur agar teks di dalam cell kolom deskripsi memiliki warna ungu */
.table-view .table-cell .text {
   -fx-fill: #7e43ba;
}

/* Mengubah warna teks menjadi putih HANYA saat barisnya sedang dipilih (selected) */
.table-view .table-row-cell:selected .table-cell .text {
    -fx-fill: white;
}